* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#demo {
  word-wrap: break-word;
}

#div1 {
  right: 50%;
  transform: translate(50%);
  top: 10px;
  position: fixed;
  overflow: auto;
}

@media (max-width: 500px) {
  #demo {
    margin: 5px;
    height: 50vh;
    overflow: auto;
  }
  #Wrapper {
    height: 50vh;
  }

  #div1 {
    transform: translate(50%, 50%);
    top: 0;
    right: 0;
    position: relative;
  }
}
